* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main-header {
  height: 94px;
  width: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
}
.main-logo {
  display: inline-block;
}
.main-navigation {
  display: inline-block;
}
.navigation-item {
  display: inline-block;
  margin-left: 46px;
}
.navigation-item a {
  text-decoration: none;
  text-transform: capitalize;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
}
.navigation-item a:hover {
  color: #0eed19;
}
.main-register {
  text-transform: uppercase;
}

/* homerun begin */
.homerun-title {
  height: 220px;
  width: 893px;
  color: yellowgreen;
  margin: 100px auto 0px;
}
.homerun-title h1 {
  font-family: Roboto;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: 110px;
  letter-spacing: 2px;
  text-align: center;
}
.homerun-about {
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: red;
}
.patner-img {
  width: 1120px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.works {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 70px 0px 40px 0px;
}
.worksimg {
  margin: auto;
  display: block;
}

/*homerun finish */

/*learn section start */
.learn {
  background: #3ca9ff;
  height: 601px;
  width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.learn-img {
  height: 200px;
  width: 200px;
  margin: auto;
  padding: 60px 0px 0px;
}
.learn-img img {
  width: 100%;
  height: 100%;
}
.learn-title {
  font-family: Roboto;
  font-size: 57px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 1.5px;
  text-align: center;
  color: white;
  margin: 0px;
}
.learn-link {
  padding: 8px;
  color: white;
  background: #0e1016;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  margin: auto;
  margin-top: 45px;
  text-decoration: none;
}
.extradic {
  margin: auto;
  color: white;
  padding: 31px 0px 70px 0px;
}
/*learn section finish */

/*product begin*/
.product {
  /* display: flex; */

  margin: 0px 140px;
}
.product-text {
  width: 40%;
  margin-right: 120px;
}
.product-img {
  height: 382px;
  width: 677px;
}
.product-img img {
  width: 100%;
  height: 100%;
}
.produict-text-sup {
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  margin: 0px;
  color: #0c9f64;
}
.product-text-title {
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 1.5px;
  text-align: left;
  margin: 0px;
}
.prodect-text-dec {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
.product-button {
  padding: 15px;
  outline: none;
}
.prodcut-img-dic {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin: 0px;
}
.product-wrappper {
  display: flex;
  /* flex-direction: column; */
  box-sizing: border-box;
  margin-top: 210px;
}
.product-img-control {
  margin-left: 40px;
}
/*product finish*/
/*customer begin */
.customer-content {
  height: 404px;
  width: 620px;
  margin-top: 140px;
}
.customer-wrapper {
  width: 1200px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.customerreyting {
  font-family: Roboto;
  font-size: 82px;
  font-style: normal;
  font-weight: 700;
  line-height: 115px;
  text-align: center;
  margin: 20px 0px 0px 0px;
}
.customer-content img {
  display: block;
  margin: auto;
  margin-top: 30px;
}
.reytingdic {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

/*customer finish*/

/* register page begoimn */
#register .reg {
  height: 1107px;
  width: 1240px;
  border-radius: 20px;
  background: #202e78;
  margin: auto;
  padding-top: 70px;
}
.reglogo {
  height: 80px;
  width: 80px;
  display: block;
  margin: auto;
  /* padding-top: 70px; */
}
.regtitle {
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 1.5px;
  text-align: center;
  color: white;
  margin: 25px 0px;
}
.regabout {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  color: white;
}
.reglink {
  display: block;
  margin: 70px auto 0px;
  padding: 15px;
  width: 213px;
  border: 2px solid #f8f4f4;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #f4f6f8;

  border-radius: 8px;
}
.regimg {
  height: 520px;
  width: 580px;
  background: #000639;
  padding: 40px 70px 70px 40px;
}
.regwrap {
  width: 92%;
  height: auto;
  display: flex;
  margin: 60px auto 0px;
}
.regimg b {
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: white;
}
.regimg p {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
/* register page finish */

/* template begin */
.template {
  margin-top: 40px;
}
.templatewrap {
  height: 974px;
  width: 92%;
  background: #181818;
  margin: auto;
  border-radius: 20px;
  padding-top: 140px;
}
.templatewrap h2 {
  font-family: Roboto;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 1.5px;
  text-align: center;
  color: white;
}
.templatewrap p {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
.templatewrap a {
  text-align: center;
  margin-top: 80px;
  padding: 14px;
  color: white;
  background: #0099ff;
  margin: auto;
  display: block;
  text-decoration: none;
  width: 172px;
}

/* template finish */
/* footer begin */
.footer {
  height: auto;
  width: 1240px;
  border-radius: 20px;
  background: #000000f2;
  margin: auto;
  padding: 25px 25px 50px 40px;
}
.footertitle {
  display: flex;
  justify-content: space-between;
}
.flink {
  background: #029eff;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}
.friight {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 130px;
}
.fleft {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 130px;
}
.flist-items {
  color: white;
  padding: 10px 0px;
}
.fnavitems {
  list-style: none;
}
.fnavs {
  display: flex;
  margin-top: 76px;
}
.flogolar {
  list-style: none;
  margin-top: 25px;
}
.flogolar li {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: #cd486b;
  text-align: center;
  padding-top: 10px;
}
/* footer finish */
